{
  "moduleId": "robojs"
  ,"presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": "umd",
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ]
}