{
  "moduleId": "robojs",

  "env": {
    "production":{
      "presets": [
        [
          "env",
          {
            "useBuiltIns": true,
            "modules": "umd",
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >8"
              ]
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "useBuiltIns": true,
            "modules": false,
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >8"
              ]
            }
          }
        ],
        "import-export"
      ],
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*.spec.js"
            ],
            "useInlineSourceMaps": false
          }
        ]
      ]
    }
  }
}